{{define "title"}}Playlists{{end}}
{{define "body-content"}}
<div class="container">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>

    <ul class="list-group">
        {{range $username := .}}
        <li class="list-group-item">{{$username}}</li>
        {{end}}
    </ul>
</div>
{{end}}