{{define "title"}}Playlists{{end}}
{{define "body-content"}}
<style>
    .sidebar {
        position: static;
        z-index: 10;
        width: auto;
        display: block;
        max-height: 82vh;
        overflow-y: scroll;
    }
    .padded{
        padding-bottom: 5%;
        padding-top: 5%;
    }
</style>

<div class="container" style="max-width: 100%">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group flex-nowrap padded">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>

            <ul class="list-group sidebar list-group-flush">
                {{range $username := .}}
                <li class="list-group-item">{{$username}}</li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}